{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}

{% block body %}
    <h3 style="padding:20px; text-align: center; text-decoration: underline;">Welcome back, {{ username }}</h3>
    <div style="display: flex;">
        <div style="flex: 1; margin-left:100px;">
            <h4 style="padding:20px;">This Month Overview</h4>
            <table class="table table-hover" style="width: 300px;">
                <tr>
                    <th>Income:</th>
                    <td>₹{{ income }}</td>
                </tr>
                <tr>
                    <th>Expenses:</th>
                    <td>₹{{ expenses }}</td>
                </tr>
                <tr>
                    <th>Balance:</th>
                    <td>₹{{ balance }}</td>
                </tr>
            </table>
            <a href="/charts" class="btn btn-primary" style="margin-left:50px; margin-top:10px;">See Graphs</a>
            <hr style="width: 50%;">

            <h4 style="padding:20px;">Add Amount</h4>

            <form action="/" method="POST">
                <table class="table table-hover" style="width: 300px;">
                    <tr>
                        <th>Amount:</th>
                        <td>
                            <div class="input-group">
                                <span style="height:30px;" class="input-group-text">₹</span>
                                <input style="height:30px;" type="number" class="form-control" name="amount" step="0.01" required autocomplete="off">
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <th>Category:</th>
                        <td><select name="category" id="category">
                                <option value="salary">Salary</option>
                                <option value="food">Food</option>
                                <option value="travel">Travel</option>
                                <option value="shopping">Shopping</option>
                                <option value="gift">Gift</option>
                            </select></td>
                    </tr>
                    <tr>
                        <th>Type:</th>
                        <td><select name="type" id="type">
                            <option value="income">Income</option>
                            <option value="expense">Expense</option>
                            </select></td>
                    </tr>
                </table>
                <button style="margin-left:40px;" class="btn btn-primary" type="submit">Save</button>
            </form>
        </div>
        <div style="border-left: 1px solid #ccc; height: auto; margin-right:20px;"></div>

        <div style="flex: 1; margin-right:100px;">
            <h4 style="padding:20px;">Recent Transactions</h4>
            <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Type</th>
                        <th>Category</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                    <tr>
                        <td>₹{{ row.amount }}</td>
                        <td>{{ row.type }}</td>
                        <td>{{ row.category }}</td>
                        <td>{{ row.created_at_fmt }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="/transactions" class="btn btn-primary">See All Transactions</a>

            </div>
        </div>
    </div>
    <hr>

    <div style="display: flex; gap: 20px; padding-top:20px;">
        <div style="flex: 1;">
        <h4 style="padding:20px; margin-left:80px;">Top Category expense-wise(this month)</h4>
        <table style="width:30%; border-collapse: collapse; margin-left:100px">
            <thead>
                <tr style="border-bottom: 1px solid #ccc;">
                    <th>#</th>
                    <th style="text-align: left; padding: 8px;">Category</th>
                    <th style="text-align: left; padding: 8px;">Amount</th>
                </tr>
            </thead>

            <tbody>
                {% for row in category_expenses %}
                <tr style="border-bottom: 1px solid #eee;">
                    <td>{{ loop.index }}</td>
                    <td style="padding: 8px;">{{ row.category }}</td>
                    <td style="padding: 8px;">₹{{ row.total_expense }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/categories" class="btn btn-primary" style="margin-left:100px; margin-top:20px;">Manage Categories</a>
        </div>
        <div style="border-left: 1px solid #ccc; height: auto;"></div>
        <div style="flex: 1;">
        <h4 style="padding:20px;">This Month vs Last Month</h4>
        <table class="table table-hover" style="width: 300px;">
                <tr>
                    <th>This Month expense:</th>
                    <td>₹{{ this_month }}</td>
                </tr>
                <tr>
                    <th>Last Month expense:</th>
                    <td>₹{{ last_month }}</td>
                </tr>
                <tr>
                    <th>Change:</th>
                    <td>{{ change }}%</td>
                </tr>
            </table>
            <a href="/alerts" class="btn btn-primary" style="margin-left:50px; margin-top:10px;">Add alert</a>
        </div>
    </div>




    
{% endblock %}


